@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

:root {
  --primary-color: rgb(189, 183, 179);
  --secondary-color: rgb(63, 61, 61);
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-family: 'Dosis', sans-serif;
  margin: 0;
}

.container {
  margin: auto;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.flex {
  display: flex;
}

input,
button {
  border: 1px solid gray;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  font-size: 14px;
  padding: 8px 10px;
  margin: 0;
}

input[type='text'] {
  width: 300px;
}

.search-btn {
  cursor: pointer;
  border-left: 0;
  border-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.random-btn {
  cursor: pointer;
  margin-left: 10px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* Generate from JS */
.meals {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin-top: 20px;
}

.meal {
  cursor: pointer;
  position: relative;
  height: 180px;
  width: 180px;
  text-align: center;
}

.meal-info {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: rgb(162, 170, 177);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.2s ease-in;
  opacity: 0;
}

.meal:hover .meal-info {
  opacity: 1;
}

.meal img {
  width: 100%;
  height: 100%;
  border: 2px gray solid;
  border-radius: 2px;
}



@media (max-width: 800px) and (max-width: 700px) and (max-width: 500px) {
  input[type='text'] {
    width: 100%;
  }
}
